.inputText {
    padding: 7px 12px 7px 16px;
    border: 1px solid #E1E6F0;
    border-radius: 6px;
}

.mr-8 {
    margin-right: 8px;
}

.mainButton {
    border: unset;
    background: #00339A;
    border-radius: 6px;
    color: #fff;
    padding: 6.5px 24px;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
}

form {
    margin: 0 auto;
}